* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: black;
    padding: 20px;
    text-align: center;
}

#log_in_form {
    border: 1px solid rgb(206, 206, 206);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 30px auto 30px auto;
    box-shadow: 3px 3px rgb(49, 49, 49);
}

.dark {
    background-color: black;
    color: white;
}

input,
button {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}

h3 {
    margin: 60px auto;
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: rgb(85, 85, 218);
    color: white;
}

button:hover {
    background-color: rgb(52, 52, 199);
}

.none {
    display: none;
}

.banner {
    border: 1px solid rgb(129, 129, 129);
    width: 300px;
    padding: 12px 0px;
    border-radius: 8px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#logout {
    display: none;
    margin: auto;
}